<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Sample TODO Application</title>

    <link rel="stylesheet" href="css/fixError.css" type="text/css" />
</head>

<body>
    <h1>New Todo</h1>

    <form method="POST" action="./register">
        <ul>
            <li>
                <label for="title">タイトル</label>
                <input id="title" type="text" name="title"></input>
            </li>
            <li>
                <label for="detail">詳細</label>
                <textarea id="detail" type="text" name="detail"></textarea>
            </li>
            <li>
                <label for="deadline">期限</label>
                <input id="deadline" type="date" th:min="${nowtime}" name="deadline"></input>
            </li>
            <li>
                <label for="category">カテゴリー</label>
                <select name="category">
                    <option value="家庭">家庭</option>
                    <option value="仕事">仕事</option>
                    <option value="趣味">趣味</option>
                    <option value="買い物">買い物</option>
                </select>
            </li>
            <li>TitleもしくはDetailが長すぎます！入力し直してください。</li>
            <li><input class="button" type="submit" name="register" value="追加"></input></li>
        </ul>
    </form>
</body>

</html>