<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Sample TODO Application</title>

    <link rel="stylesheet" href="css/index.css" type="text/css" />
</head>

<body>
    <h1>Todo List</h1>
    <div class="operation-area">
        <button type="button" onclick="location.href='./new'">New Todo</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>タイトル</th>
                <th>詳細</th>
                <th>削除</th>
                <th>修正</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="result : ${todoList}">
                <!--tymeleafの記述方法 -->
                <td class="todo-id" th:text="${result['todoId']}"></td>
                <td class="title" th:text="${result['title']}"></td>
                <td class="detail" th:text="${result['detail']}"></td>
                <td>
                    <form th:action="@{/delete/{id}(id=*{result['todoId']})}" th:method="post">
                        <input class="button" type="submit" value="削除" />
                    </form>
                </td>
                <td>
                    <form th:action="@{/fix/{id}(id=*{result['todoId']})}" th:method="post">
                        <input class="button" type="submit" value="修正" />
                    </form>
                </td>
                <!--tr:１行を表す、td: １列を表す-->
            </tr>
        </tbody>
    </table>
</body>

</html>